CHATBOT.json
{
  "name": "CHATBOT",
  "nodes": [
    {
      "parameters": {
        "toolDescription": "Gets the latest blog posts about any rss feed.",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `Use one of:\n- https://feeds.bbci.co.uk/news/world/rss.xml (BBC World – global headlines)\n- https://www.aljazeera.com/xml/rss/all.xml (Al Jazeera English – in‑depth global coverage)\n- http://rss.cnn.com/rss/edition_world.rss (CNN World – breaking news worldwide)\n- https://techcrunch.com/feed/ (TechCrunch – global tech & startup news)\n- http://news.ycombinator.com/rss (Hacker News – tech community headlines)\n- https://n8n.io/blog/rss (n8n Blog – updates & tutorials)\n- https://www.bonappetit.com/feed/recipes-rss-feed/rss (Bon Appétit – recent recipes list)\n- https://www.endsreport.com/rss/news-and-analysis (ENDS Report – environmental law & policy news)\n- https://medlineplus.gov/groupfeeds/new.xml (MedlinePlus – health topics & wellness updates)`, 'string') }}",
        "options": {}
      },
      "id": "24fc1fd5-ed10-43d9-9b35-8facb7f357d5",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Get News",
      "type": "n8n-nodes-base.rssFeedReadTool",
      "creator": "Lucas Peyrin",
      "position": [
        1360,
        672
      ],
      "typeVersion": 1.2,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "toolDescription": "Get weather forecast anywhere, anytime. You can make requests by assuming most information, the only thing you need is the location (use the city name to infer lat and long automatically) and time period (assume today if not specified)",
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Latitude of the location, e.g. 45.75 for Lyon. Do not ask the user just infer it automatically.`, 'string') }}"
            },
            {
              "name": "longitude",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Longitude of the location, e.g. 4.85 for Lyon. Do not ask the user just infer it automatically.`, 'string') }}"
            },
            {
              "name": "current",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Comma-separated list of current weather variables (no whitespace).\n\nExample: temperature_2m,windspeed_10m,rain.\n\nOptions: temperature_2m,relative_humidity_2m,apparent_temperature,is_day,precipitation,rain,showers,snowfall,weathercode,cloudcover_total,pressure_msl,surface_pressure,windspeed_10m,winddirection_10m,windgusts_10m.`, 'string') }}"
            },
            {
              "name": "hourly",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', `Comma-separated list of hourly weather variables (no whitespace). Hourly is only useful to get one day's information. For weakly overview please use daily.\n\nExample: temperature_2m,precipitation.\n\nOptions: temperature_2m,relative_humidity_2m,dewpoint_2m,apparent_temperature,precipitation,rain,showers,snowfall,snow_depth,pressure_msl,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,windgusts_10m,visibility,is_day,sunshine_duration,soil_temperature,soil_moisture,PM10,PM2_5,carbon_monoxide,ozone,us_aqi,UV_index.`, 'string') }}"
            },
            {
              "name": "daily",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', `Comma-separated list of daily weather variables (no whitespace).\n\nExample: temperature_2m_max,precipitation_sum.\n\nOptions: weathercode,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,precipitation_sum,rain_sum,showers_sum,snowfall_sum,precipitation_hours,sunrise,sunset,daylight_duration,sunshine_duration,pressure_msl_max,pressure_msl_min,surface_pressure_max,surface_pressure_min,windgusts_10m_max,windspeed_10m_max,winddirection_10m_dominant,shortwave_radiation_sum.`, 'string') }}"
            },
            {
              "name": "start_date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', `Start date in YYYY-MM-DD format. Example: 2025-07-15`, 'string') }}"
            },
            {
              "name": "end_date",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters6_Value', `End date in YYYY-MM-DD format. Must be after start_date. Example: 2025-07-18`, 'string') }}"
            },
            {
              "name": "temperature_unit",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters7_Value', `Unit for temperature. Options: celsius (default), fahrenheit.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ac7d0dd1-8885-41c1-abda-f3742c838992",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Get Weather",
      "type": "n8n-nodes-base.httpRequestTool",
      "creator": "Lucas Peyrin",
      "position": [
        1472,
        672
      ],
      "notesInFlow": true,
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You MUST answer using tool results when a tool is available.\nAfter using a tool, return ONLY the final answer in plain text.\nDo not explain your reasoning.\n"
        }
      },
      "id": "332af12a-45ab-4e5d-8dab-da21ba2111f9",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Your First AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "creator": "Lucas Peyrin",
      "position": [
        1232,
        176
      ],
      "typeVersion": 2.2,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "56d2684a-7f83-4ffd-8501-3253d999b4c6",
      "cid": "Ikx1Y2FzIFBleXJpbiI",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "creator": "Lucas Peyrin",
      "position": [
        -1344,
        544
      ],
      "typeVersion": 1.3,
      "disabled": true,
      "notes": "© 2025 Lucas Peyrin"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "en.indian#holiday@group.v.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Holidays in India"
        },
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1616,
        672
      ],
      "id": "5734f1ce-3c0e-49a3-8d5a-abcf1805ecaf",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fk7hl9USSSuzfUFr",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1744,
        672
      ],
      "id": "fafbcd13-fe14-4b8f-97a2-1d6f1429c0e3",
      "name": "Calculator"
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "2003/10/27",
        "endDate": "2026/10/27",
        "units": [
          "day",
          "hour",
          "minute",
          "second",
          "year"
        ],
        "outputFieldName": "{{ $fromAI('Output_Field_Name', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        1872,
        672
      ],
      "id": "ce7e4553-8abd-4387-a3ee-31d70de29b0e",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "__CUSTOM_API_CALL__"
      },
      "type": "n8n-nodes-base.linkedInTool",
      "typeVersion": 1,
      "position": [
        2032,
        672
      ],
      "id": "46a01734-aca2-405e-8df5-9337a87effaa",
      "name": "__CUSTOM_API_CALL__ post in LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "5VAxuyFVMBD19U9E",
          "name": "LinkedIn account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 944,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        608
      ],
      "typeVersion": 1,
      "id": "223bc561-fa46-46e8-8c5e-b2f42a001b71",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        416
      ],
      "id": "71350fe9-66b3-471d-a9ea-fd4e2625e924",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        672
      ],
      "id": "f6efbae9-e134-408e-8013-b1f79e45f36c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "width": 1104,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        768,
        144
      ],
      "id": "d72571c6-7075-4247-b514-a93b79b64568",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        192
      ],
      "id": "1ef116c3-85d9-4a84-89d8-1915c2a1fa61",
      "name": "Webhook",
      "webhookId": "589ea250-58fd-432e-8955-afebbf9ca7c9"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\n\n// REGISTER\nif (body.action === \"register\") {\n  return [{\n    json: {\n      success: true,\n      message: \"Registered\",\n      sessionId: Date.now().toString(), // no crypto\n      isChat: false\n    }\n  }];\n}\n\n// CHAT\nif (body.action === \"chat\") {\n\n  if (!body.sessionId) {\n    return [{\n      json: {\n        success: false,\n        message: \"Session missing. Please register again.\",\n        isChat: false\n      }\n    }];\n  }\n\n  if (!body.message) {\n    return [{\n      json: {\n        success: false,\n        message: \"Message required\",\n        isChat: false\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      success: true,\n      isChat: true,\n      prompt: body.message,\n      sessionId: body.sessionId\n    }\n  }];\n}\n\n// FALLBACK\nreturn [{\n  json: {\n    success: false,\n    message: \"Invalid action\",\n    isChat: false\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        192
      ],
      "id": "3a10603b-8366-43f8-9c01-d16ebc7c884c",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "be4317a8-3cdd-44d7-bce4-9890d86776e0",
              "leftValue": "={{ $json.isChat }}\n",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        192
      ],
      "id": "59b45242-18ae-4580-8abc-b6824aec54b5",
      "name": "If"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1600,
        368
      ],
      "id": "0f169f1e-dac0-4de4-ad2e-992cd2eabb4e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "3GJ3jEeYz9GxENb7",
          "name": "Groq account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1600,
        576
      ],
      "id": "78382765-cc3d-4e34-8cd7-3e66072439f0",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "PwFelUD1u8j2qvtm",
          "name": "Ollama account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -1808,
        624
      ],
      "id": "b084db00-b8d2-48d4-8409-d1d9398d54f0",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "QqQPdmycCne6Z2la",
          "name": "DeepSeek account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        464
      ],
      "id": "9dd6fe8b-8eb2-40aa-a171-48b0bc25a074",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ULKQHPRp65AmWJxJ",
          "name": "Google Gemini(PaLM) Api account 8"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23be17cf-2231-4ec2-89e7-84eb33cad84a",
              "name": "success",
              "value": "={{$json.success}}\n",
              "type": "boolean"
            },
            {
              "id": "6197668d-020e-43dd-b39a-b3d3079a1e11",
              "name": "message",
              "value": "={{ $json.message || \"\" }}\n",
              "type": "string"
            },
            {
              "id": "692fcdbe-9241-40a9-b9e5-48431fbe2dc7",
              "name": "prompt",
              "value": "={{ $json.prompt || \"\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1888,
        400
      ],
      "id": "73709d0f-5a65-4055-a529-1ad1adb9fe6b",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c378c4a8-2da5-420f-bdfd-f39f600e3b4c",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "b88cccd2-86bc-430f-a928-69a565807ac8",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "f75b9e20-f813-4779-afe0-060cee85a055",
              "name": "isChat",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1392,
        288
      ],
      "id": "969e627d-64a6-4c18-9e21-c65fe76e49af",
      "name": "Edit Fields1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Read full incoming JSON\nconst data = $json;\n\n// Decide final message\nlet finalMessage =\n  data.answer ||\n  data.output ||\n  data.text ||\n  \"Sorry, no response generated\";\n\n// Return in UI-friendly format\nreturn [\n  {\n    json: {\n      success: true,\n      message: finalMessage\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        448
      ],
      "id": "e9857cef-39f1-4a83-b96a-26b2788c9430",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"answer\": \"string\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2096,
        448
      ],
      "id": "6250df3d-2fbb-4725-946d-72d3a1660a42",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const ai = $json ?? {};\n\nconst reply =\n  ai.output ??\n  ai.answer ??\n  ai.text ??\n  ai.content ??\n  ai.message ??\n  \"Sorry, I couldn't generate a response.\";\n\nreturn [\n  {\n    json: {\n      success: true,\n      message: String(reply)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        176
      ],
      "id": "1c8b7ea0-3fb1-4812-b7e2-67120130a14b",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Get News": {
      "ai_tool": [
        [
          {
            "node": "Your First AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather": {
      "ai_tool": [
        [
          {
            "node": "Your First AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        []
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Your First AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Your First AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "Your First AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "__CUSTOM_API_CALL__ post in LinkedIn": {
      "ai_tool": [
        [
          {
            "node": "Your First AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Your First AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Your First AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Your First AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Your First AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1d53838a-5de8-4ede-a353-11e19d92c5c6",
  "meta": {
    "templateId": "6270",
    "templateCredsSetupCompleted": true,
    "instanceId": "e0ee7317c0ae441f13cffe8c918f6b20a91a7f9239707b6f5b821dd9ec92cb30"
  },
  "id": "6H9IH7421rXUOBdt",
  "tags": []
}