Evaluate tool usage accuracy in multi-agent AI workflows using Evaluation nodes.json
{
  "name": "Evaluate tool usage accuracy in multi-agent AI workflows using Evaluation nodes",
  "nodes": [
    {
      "parameters": {},
      "id": "8e4721bf-8c21-4de3-ae92-97c627919e1b",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        928,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f31d1137-3262-4d46-979a-e9fc3c24f670",
              "name": "tool_called",
              "type": "boolean",
              "value": "={{ \n  $('When fetching a dataset row').item.json.tools_to_call\n    .split(',').map(t => t.trim())\n    .every(tool => $json.intermediateSteps.some(step => step.action.tool.toLowerCase() === tool)) \n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "4778f802-0d49-4e47-b153-6a721bec2214",
      "name": "Check if tool called",
      "type": "n8n-nodes-base.set",
      "position": [
        1888,
        240
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fdc479f2-b056-464d-842e-da7cc432cbf7",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        592,
        448
      ],
      "webhookId": "6fde470e-c42b-4a89-974d-c3d21ab0133b",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3dec27ca-35df-47a7-9a53-d9b2d0b6c072",
              "name": "chatInput",
              "type": "string",
              "value": "={{ $json.question }}"
            }
          ]
        },
        "options": {}
      },
      "id": "26ef423b-591f-4a0b-8abc-fdb308c75d3e",
      "name": "Match chat format",
      "type": "n8n-nodes-base.set",
      "position": [
        592,
        240
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {},
      "id": "1d0fbac1-fb62-4b10-82c7-98d9b2a473c9",
      "name": "Return chat response",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1888,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "18F1WIEq1ykZKBO1bWYhC0YxRb2ngTurfsZ7jO6sGhLY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18F1WIEq1ykZKBO1bWYhC0YxRb2ngTurfsZ7jO6sGhLY/edit?usp=drivesdk",
          "cachedResultName": "n8n dataset for evaluation"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 969651976,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18F1WIEq1ykZKBO1bWYhC0YxRb2ngTurfsZ7jO6sGhLY/edit#gid=969651976",
          "cachedResultName": "Tool calling"
        }
      },
      "id": "758baf05-8830-4693-9f3a-a370d9fd4dc8",
      "name": "When fetching a dataset row",
      "type": "n8n-nodes-base.evaluationTrigger",
      "position": [
        368,
        240
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BSjSGnVsRBMv6TWd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metrics": {
          "assignments": [
            {
              "id": "5855df91-5a74-44f9-b25b-23a111dbd7a1",
              "name": "tool_called",
              "type": "number",
              "value": "={{ $json.tool_called.toNumber() }}"
            }
          ]
        }
      },
      "id": "33900d54-32e0-4883-9ce8-6565db389473",
      "name": "Evaluation",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        2336,
        240
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "id": "636b9b56-3ce3-4bc5-9dbd-42b77f2ce3a2",
      "name": "Evaluating?",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        1680,
        352
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "18F1WIEq1ykZKBO1bWYhC0YxRb2ngTurfsZ7jO6sGhLY",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18F1WIEq1ykZKBO1bWYhC0YxRb2ngTurfsZ7jO6sGhLY/edit?usp=drivesdk",
          "cachedResultName": "n8n dataset for evaluation"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 969651976,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18F1WIEq1ykZKBO1bWYhC0YxRb2ngTurfsZ7jO6sGhLY/edit#gid=969651976",
          "cachedResultName": "Tool calling"
        },
        "outputs": {
          "values": [
            {
              "outputName": "actual_tools_called",
              "outputValue": "={{ $('Evaluating?').item.json.intermediateSteps.map(step => step.action.tool.toLowerCase()).join(', ') }}\n"
            }
          ]
        }
      },
      "id": "174de2c6-787a-4d87-9d0f-a72bc7accc3a",
      "name": "Set Outputs",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        2112,
        240
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BSjSGnVsRBMv6TWd",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a helpful assistant who will have access to a few tools to help with responding to user queries. I am providing some instructions below on how to use the tools. Please follow the instructions carefully.\n\nFirst, check the search_db tool to check whether the query exists. The tool expects a query string. If you use this tool and find relevant information, don't use the websearch tool.\n\nUse the web search tool to search the web for relevant information if you need to. You can ONLY call this tool once. \n\nUse the calculator for math operations or tasks. \n\nUse the summarizer tool to summarize the output. It's required to use this once you have gathered all the information you need.",
          "returnIntermediateSteps": true
        }
      },
      "id": "38559de2-b143-4806-bd14-15015cf1e947",
      "name": "Search Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        976,
        352
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "description": "Call this tool to summarize the outputs. ",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "02frfdJDBQXmj2Zm",
          "cachedResultName": "My Sub-Workflow 1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "c2800f49-b091-4327-96c6-2c45782c670e",
      "name": "Summarizer",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        1056,
        560
      ],
      "typeVersion": 2.2,
      "notesInFlow": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "limit",
              "value": "={{ \"3\".toNumber() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fb37524f-9c88-4684-9f46-f558025d5e80",
      "name": "Web search",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        1168,
        560
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "68b1c2fa-49f9-41d2-8d57-dc89c972d43a",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        1520,
        768
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "YgPF1nToUx1cuKg5",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrievel relevant results",
        "qdrantCollection": {
          "__rl": true,
          "mode": "list",
          "value": "search_queries",
          "cachedResultName": "search_queries"
        },
        "options": {}
      },
      "id": "090521fb-17f7-466f-8ae4-8f0d351f588a",
      "name": "Search_db",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        1376,
        560
      ],
      "typeVersion": 1.3,
      "credentials": {
        "qdrantApi": {
          "id": "CCB5OgGBNZRVWQOz",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        752,
        592
      ],
      "id": "4e017f23-47d3-454f-b3d4-9d27ca72a988",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GzRVxohLnEm4roYh",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Search_db": {
      "ai_tool": [
        [
          {
            "node": "Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Summarizer": {
      "ai_tool": [
        [
          {
            "node": "Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web search": {
      "ai_tool": [
        [
          {
            "node": "Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Evaluating?": {
      "main": [
        [
          {
            "node": "Check if tool called",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return chat response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Outputs": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Agent": {
      "main": [
        [
          {
            "node": "Evaluating?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Search_db",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Match chat format": {
      "main": [
        [
          {
            "node": "Search Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if tool called": {
      "main": [
        [
          {
            "node": "Set Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Search Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row": {
      "main": [
        [
          {
            "node": "Match chat format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Search Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "0076b7f3-b2d7-4c73-89a6-ba8a5ca62acc",
  "meta": {
    "templateId": "5523",
    "templateCredsSetupCompleted": true,
    "instanceId": "e0ee7317c0ae441f13cffe8c918f6b20a91a7f9239707b6f5b821dd9ec92cb30"
  },
  "id": "qLfo2fFrm0KXdeVr",
  "tags": []
}